@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex">
    <ul class="list-group mx-auto">
        <li class="list-inline-item">
            <h6>
                <b>Zeebe worker mock factory</b>
            </h6>
        </li>
    </ul>
</div>