
<form method="post" enctype="multipart/form-data" asp-controller="WorkFlow" asp-action="DeployWorkFlow">
    <input type="file" name="file" />
    <button type="submit">Deploy workflow</button>
</form>
